{% extends 'akapp/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <table class="table caption-top">
        <caption class="caption-top">案件詳細</caption>
        <thead>
            <tr>
            <th scope="col">日付</th>
            <th scope="col">案件名</th>
            <th scope="col">内容</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{ anken.pub_date }}</td>
            <td>{{ anken.ankenmei }}</td>
            <td>{{ anken.naiyou | safe }}</td>
            <td>
                <a class="btn btn-secondary btn-sm" href="{% url 'akapp:anken_update' anken.pk %}">編集</a>
                <a class="btn btn-danger btn-sm" href="{% url 'akapp:anken_delete' anken.pk %}">削除</a>
            </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table caption-top">
        <caption class="caption-top">週報一覧</caption>
        <thead>
            <tr>
            <th scope="col">日付</th>
            <th scope="col">内容</th>
            <th scope="col">カテゴリ</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for shuho in anken.shuho_set.all %}
                <tr>
                <td>{{ shuho.pub_date }}</td>
                <td>{{ shuho.naiyou }}</td>
                <td>{{ shuho.get_categori_display }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{% url 'akapp:shuho_update' shuho.pk %}">編集</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'akapp:shuho_delete' shuho.pk %}">削除</a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary btn-sm" href="{% url 'akapp:shuho_create' %}">週報新規作成</a>
</div>
{% endblock %}

{% comment %}
{% block content %}
<p>{{ anken.pub_date }}</p>
<p>{{ anken.ankenmei }}</p>
<p>{{ anken.naiyou }}</p>
<a href="{% url 'akapp:anken_update' anken.pk %}">編集</a>
<a href="{% url 'akapp:anken_delete' anken.pk %}">削除</a>
<h2><a href="{% url 'akapp:shuho_create' %}">週報新規作成</a></h2>
{% for shuho in anken.shuho_set.all %}
    <p>{{ shuho.pub_date }}</p>
    <p>{{ shuho.naiyou }}</p>
    <p>{{ shuho.get_categori_display }}</p>
    <a href="{% url 'akapp:shuho_update' shuho.pk %}">編集</a>
    <a href="{% url 'akapp:shuho_delete' shuho.pk %}">削除</a>
{% endfor %}
<a href="{% url 'akapp:index' %}">戻る</a>
{% endblock %}
{% endcomment %}

