{% extends 'akapp/base.html' %}
{% load bootstrap4 %}
{% block content %}
{# <h6>週報新規作成</h6> #}
<div class="container">
    <span class="text-secondary">案件新規作成</span><br>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {# {{ form.as_p }} #}
        <input type="submit" class="btn btn-primary btn-sm" value="保存">
    </form>
</div>
{% endblock %}

{% comment %}
{% load widget_tweaks %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-group"></div>
        <label>{{ form.anken.label }}</label>
        {{ form.anken | add_class:'form-control col-2'}}
    </div>
    <div class="form-group"></div>
        <label>{{ form.pub_date.label }}</label>
        {{ form.pub_date | add_class:'form-control col-2'}}
    </div>
    <div class="form-group"></div>
        <label>{{ form.naiyou.label }}</label>
        {{ form.naiyou | add_class:'form-control col-2'}}
    </div>
    <div class="form-group"></div>
        <label>{{ form.categori.label }}</label>
        {{ form.categori | add_class:'form-control col-2'}}
    </div>
    <button type="submit" class="form-control col-1">投稿</button>
</form>
{% endblock %}
{% endcomment %}